/*******************************
	CNerdForum LESS Stylesheet
	Written By: Charlie McClung
	Updated On: 3/23/2013
*******************************/

/*** Function creates rounded top corners 
		@radius = radius of rounded corners ***/
.border-radius-top (@radius: 5px) {
	border-top-left-radius: @radius;
	border-top-right-radius: @radius;
	-moz-border-radius-topleft: @radius;
	-moz-border-radius-topright: @radius;
	-webkit-border-top-left-radius: @radius;
	-webkit-border-top-right-radius: @radius;
}

/*** Function creates rounded bottom corners
		@radius = radius of rounded corners ***/
.border-radius-bottom (@radius: 5px) {
	/* General */
	border-bottom-left-radius: @radius;
	border-bottom-right-radius: @radius;
	
	/* Firefox */
	-moz-border-radius-bottomleft: @radius;
	-moz-border-radius-bottomright: @radius;
	
	/* Safari and Chrome */
	-webkit-border-bottom-left-radius: @radius;
	-webkit-border-bottom-right-radius: @radius;
}

/*** Function creates box shadow for an element
		@a = shift shadow right (negative for left)
		@b = shift shadow down (negative for left)
		@c = blur shadow
		@color = shadow color **/
.box-shadow (@a: 5px, @b: 5px, @c: 5px, @color: #000) {
	/* General */
 	box-shadow: @a @b @c @color;
 	
 	/* Firefox */
	-moz-box-shadow: @a @b @c @color; /* Firefox */
	
	/* Safari and Chrome */
 	-webkit-box-shadow: @a @b @c @color;
}

/*** Create custom font-face for header ***/
@font-face {
	font-family: header;
	src: url('fonts/header.TTF');
}

/*** Begin html ***/
html {

	/*** Begin body ***/
	body {
		background: url('images/total.png');
		font-family: 'Sintony', sans-serif;
		
		a.button {
			text-decoration: none;
			color: #fff;
			background: #000;
			padding: 6px;
			margin-left: 10px;
			font-size: 12px;
			.border-radius-top();
			.border-radius-bottom();
			
			&:hover {
				background: #666;
			}
		}
				
		/*** Begin html>body>container ***/
		div#container {
			padding: 0;
			background: url('images/textured_paper.png');
			width: 960px;
			margin: 0 auto;
			.border-radius-top(10px);
			.border-radius-bottom(10px);
			.box-shadow();
			
			/*******************************
				Begin html>body>container>header
			*******************************/
			header {
				
				div#userdata {
					float: right;
					font-size: 12px;
					color: #000;
					padding: 20px;
				}
				
				hgroup {
					display: block;
					width: 400px;
					margin: 25px;
					padding: 0;
						
					h1 {
						margin: 0;
						padding: 0;
						font-family: header;
						font-size: 75px;
						color: #333;
						
						a {
							color: #333;
							text-decoration: none;
						}
					}
					
					h2 {
						margin: 0;
						padding: 0;
						font-size: 15px;
						text-align: right;
						color: #aaa;
					}
				}
		
			}
			
			/*******************************
				Begin html>body>container>content styles
			*******************************/
			div#content {
				display: block;
				margin: 15px 0;
				
				div#breadcrumbs {
					margin: 10px;
					padding: 10px;
					border-bottom: 1px #666 solid;
					
					a {
						color: green;
					
						&:hover {
							text-decoration: none;
						}
					}
				}
				
				div#messages {
					div.error {
						width: 97%;
						background-color: #f2bfbf;
						margin: 10px auto;
						padding: 10px;
						color: #000000;
						border: 1px #cc0000 solid;
					}
					
					div.success {
						width: 97%;
						background-color: #ccf4cc;
						margin: 10px auto;
						padding: 10px;
						color: #000000;
						border: 1px #00cc00 solid;
					}
					
					div.announcement {
						width: 97%;
						background-color: #ccd6ea;
						margin: 10px auto;
						padding: 10px;
						color: #000000;
						border: 1px #003399 solid;
					}
					
					div.warning {
						width: 97%;
						background-color: #ffea99;
						margin: 10px auto;
						padding: 10px;
						color: #000000;
						border: 1px #ffcc00 solid;
					}
				}
				
				div#tabs {
					.border-radius-bottom(10px);
				}
				
				div#main {
					margin: 25px;
					color: #000;
					
					table#topics, table#posts {
						list-style: none;
						font-size: 18px;
						width: 97%;
						margin: 10px auto;
						border-spacing: 0;
						
						td {
							border: 1px solid #999;
							margin: 0;
							padding: 5px;
						}
						
						thead {
							tr {
								td {
									text-align: center;
									font-size: 20px;
									font-weight: bold;
								}
							}
						}
						
						tr.comment {
							width: 100%;
							
							td.vote {
								text-align: center;
								
								img {
									opacity: .4;
									cursor: pointer;
									
									&:hover {
										opacity: 1;
									}
								}
								
								img.voted {
									opacity: 1;
								}
							}
							
							td.body {
								width: 60%;
								
								p {
									padding: 25px;
									font-size: 18px;
									text-align: left;
								}
								
								.date {
									font-size: 10px;
									text-align: right;
								}
							}
							
							td.user {
								width: 25%;
								font-size: 11px;
								text-align: center;
							}
						}
						
						tr.topic, tr.post {
							width: 100%;
							
							td.vote {
								text-align: center;
								
								img {
									opacity: .4;
									cursor: pointer;
									
									&:hover {
										opacity: 1;
									}
								}
								
								img.voted {
									opacity: 1;
								}
							}
							
							td.title {
								width: 60%;
								
								a {
									color: #0000FF;
									font-weight: bold;
									text-decoration: none;
									
									&:hover {
										color: #000033;
									}
								}
							}
							
							td.stats {
								width: 15%;
								text-align: right;
							}
							
							td.details {
								width: 25%;
								font-size: 10px;
								text-align: right;
								
								div.smallfont {
									font-size: 11px;
								}
							}
						}
						
						div.smallfont {
							font-size: 14px;
						}
					}
				}
				
				form {
					width: 300px;
					padding: 0;
					margin: 0 auto;
					color: #000;
					font-size: 15px;

					.right {
						text-align: right;
					}
					
					input {
						color: #eee;
						font-size: 15px;
						background: black;
						padding: 10px;
						.border-radius-top(20px);
						.border-radius-bottom(20px);
					}
					
					label {
						width: 150px;
					}
					
					input {
						width: 150px;
					}
				}
			}
			
			/*******************************
				Begin html>body>container>footer styles
			*******************************/
			footer {
				border-top: 1px #ccc solid;
				color: #999;
				margin: 15px;
				padding: 10px;
				font-size: 10px;
				text-align: center;
				
				a {
					color: green;
					
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}
}